/deploy.py
/pageant_service_account.json
/temp.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/MTPocketsPageants.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
